<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    
</head>
<body>
    <header>
        <h1>Live Chat</h1>
    </header>
    <main>
        <ul>
            
        </ul>
        <form class="sendMessage">
            <input type="text" placeholder="Digite alguma mensagem...">
        </form>
        <aside class="online">
            <h2>ONLINE</h2>
            <hr>
            <ul>
                <li>Luís</li>
                <li>Luísa</li>
                <li>Lucas</li>
                <li>João Vitor</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>

            </ul>
        </aside> 
    </main>
</body>
</html>