<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/index.js" defer></script>
</head>
<body>
    <header>
        <h1>Live Chat</h1>
    </header>
    <main>
        <ul>
            <li>
            </li>
        </ul>
        <form class="sendMessage">
            <ul class="emojiList">
                <li onclick="insertEmoji('😀')">&#x1F600;</li>
                <li onclick="insertEmoji('😂')">&#x1F602;</li>
                <li onclick="insertEmoji('🤩')">&#x1F929;</li>
                <li onclick="insertEmoji('😭')">&#x1F62D;</li>
                <li onclick="insertEmoji('🏇')">&#x1F3C7;</li>
                <li onclick="insertEmoji('🍬')">&#x1F36C;</li>
                <li onclick="insertEmoji('🥤')">&#x1F964;</li>
                <li onclick="insertEmoji('🍌')">&#x1F34C;</li>
                <li onclick="insertEmoji('🍫')">&#x1F36B;</li>
                <li onclick="insertEmoji('🍪')">&#x1F36A;</li>
                <li onclick="insertEmoji('🥞')">&#x1F95E;</li>
                <li onclick="insertEmoji('🧁')">&#x1F9C1;</li>
                <li onclick="insertEmoji('🎉')">&#x1F389;</li>
                <li onclick="insertEmoji('🥳')">&#x1F973;</li>
                <li onclick="insertEmoji('🤪')">&#x1F92A;</li>
                <li onclick="insertEmoji('🙃')">&#x1F643;</li>
            </ul>
            <section class="messageInput">
                <div class="textAreaWrapper">
                    <textarea rows="1" placeholder="Digite alguma mensagem..."></textarea>
                </div>
                <img src="assets/face.svg" alt="Emojis">
                <button><img src="assets/send.svg" alt="Enviar" /></button>
            </section>
        </form>
        <aside class="online">
            <h2>ONLINE</h2>
            <hr>
            <ul>
                <li>Luís</li>
                <li>Luísa</li>
                <li>Lucas</li>
                <li>João Vitor</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>
                <li>Luísa</li>

            </ul>
        </aside> 
    </main>
</body>
</html>