* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --DARK-PURPLE: #2a2836;
    --PURPLE-PRIMARY: #9991C4;
    --PURPLE-SECONDARY: #C1B7F7;
    --PURPLE-TERTIARY: rgba(193, 183, 247, 0.253);
    --PURPLE-QUATERNARY: #3F3578;
    --WHITE-PRIMARY: rgba(255, 255, 255, 0.5);
    --WHITE-SECONDARY: rgba(255, 255, 255, 0.8);
}

body {
    background: var(--DARK-PURPLE);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--WHITE-SECONDARY);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--WHITE-PRIMARY);
    border-radius: 20px;
}

header {
    background: var(--PURPLE-PRIMARY);
    color: white;
    padding: 12px 25px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
}

header > svg {
    width: 40px;
    cursor: pointer;
}

header > svg:hover {
    fill: var(--WHITE-SECONDARY);
}

main {
    display: flex;
    height: calc(100vh - 66px);
    position: relative;
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: var(--DARK-PURPLE);
    color: white;
    height: 400px;
    width: 650px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.466);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.7em;
    margin: 0 30px;
    padding: 20px;
    opacity: 0;
    transition: .5s;
    transform: translateY(30%);
}

.modal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal > form > input {
    width: 100%;
    max-width: 430px;
    height: 45px;
    font-size: .8em;
    background: var(--DARK-PURPLE);
    border: 0;
    outline: var(--PURPLE-TERTIARY) solid 3px;
    color: white;
    border-radius: 5px;
    padding: 0 12px;
}

.modal > form > input:focus {
    outline: var(--PURPLE-SECONDARY) solid 3px;
}

.modal > form > input::placeholder {
    color: var(--WHITE-PRIMARY);
}

.modal > form > button {
    color: white;
    background: var(--PURPLE-QUATERNARY);
    font-weight: bold;
    font-size: .6em;
    border: 0;
    width: 100%;
    max-width: 430px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

.modal > form > button:hover {
    filter: brightness(0.9);
}

.messages {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.messageList {
    padding: 30px 40px 30px 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.messageList > li {
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    max-width: 996px;
    word-break: break-word;
}

.messageList > li > hr {
    border-color: var(--PURPLE-TERTIARY);
    margin-top: 15px;
}

.sendMessage {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: auto 40px 15px 20px;
}

.emojiList {
    list-style: none;
    background: white;
    display: none;
    width: 152px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.404);
    overflow: hidden;
    margin-bottom: 3px;
    position: absolute;
    transform: translateY(calc(-100% - 10px));
}

.emojiList > li {
    font-size: 1.3em;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emojiList > li:hover {
    background: rgba(0, 0, 0, 0.384);
}

.textAreaWrapper {
    background: var(--DARK-PURPLE);
    width: 100%;
    max-width: 850px;
    min-height: 48px;
    outline: var(--PURPLE-TERTIARY) solid 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: text;
}

.textAreaWrapper > textarea {
    resize: none;
    width: 100%;
    font-size: 1.3em;
    background: var(--DARK-PURPLE);
    border-radius: 10px;
    outline: 0;
    color: white;
    border: 0;
    padding: 10px 10px 10px 52px;
    line-height: 1.4em;
}


.textAreaWrapper > textarea::placeholder {
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--WHITE-PRIMARY);
}

.messageInput {
    display: flex;
    align-items: center;
}

.messageInput > img {
    width: 32px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.messageInput > button {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
}

.messageInput > button > img {
    width: 40px;
}

.online {
    margin-left: auto;
    box-shadow: -5px 2px 7px rgba(0, 0, 0, 0.397);
    width: 290px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--DARK-PURPLE);
}

.toggleUsers {
    display: none;
}

.online > h2 {
    color: var(--PURPLE-SECONDARY);
    font-size: 2.1em;
    padding: 12px;
}

.online > hr {
    border-color: var(--PURPLE-SECONDARY);
}

.online > ul {
    list-style: none;
    padding: 10px 12px 0;
    overflow-y: scroll;
}

.online > ul > li {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
}

@media (max-width: 800px) {
    .online {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}

@media (max-width: 443px) {

    html {
        font-size: 14px;
    }

}
