* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --DARK-PURPLE: #2a2836;
    --PURPLE-PRIMARY: #9991C4;
    --PURPLE-SECONDARY: #C1B7F7;
    --PURPLE-TERTIARY: rgba(193, 183, 247, 0.253);
    --WHITE-PRIMARY: rgba(255, 255, 255, 0.5);
    --WHITE-SECONDARY: rgba(255, 255, 255, 0.8);
}

body {
    background: var(--DARK-PURPLE);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--WHITE-SECONDARY);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--WHITE-PRIMARY);
    border-radius: 20px;
}

header {
    background: var(--PURPLE-PRIMARY);
    color: white;
    padding: 12px 20px;
    font-size: 1.1em;
}

main {
    display: flex;
    height: calc(100vh - 66px);
}

.sendMessage {
    margin-top: auto;
}

.sendMessage > input {
    background: var(--DARK-PURPLE);
    height: 60px;
    width: 850px;
    border: 0;
    outline: var(--PURPLE-TERTIARY) solid 3px;
    border-radius: 10px;
    color: white;
    font-size: 1.4em;
}

.online {
    margin-left: auto;
    box-shadow: -5px 2px 7px rgba(0, 0, 0, 0.397);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.online > h2 {
    color: var(--PURPLE-SECONDARY);
    font-size: 2.3em;
    padding: 12px;
}

.online > hr {
    border-color: var(--PURPLE-SECONDARY);
}

.online > ul {
    list-style: none;
    padding: 10px 12px 0;
    overflow-y: scroll;
}

.online > ul > li {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.online > ul > li:nth-child(1) {
    color: #8BE9FD;
}

.online > ul > li:nth-child(2) {
    color: #50FA7B;
}

.online > ul > li:nth-child(3) {
    color: #FFB86C;
}

.online > ul > li:nth-child(4) {
    color: #FF5555;
}
